<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <link rel ="stylesheet" href="../../static/css/carga.css">
  <title>Cargar archivo de servicios</title>
  
</head>
<body>

<form method="POST" action="/upload" enctype="multipart/form-data" class="upload-form">
  <div class="dropzone" id="dropzone">
    <label for="archivo" style="display: block; cursor: pointer;">

      
      <div class="dropzone-text" id="dropzone-text">
        <p>📂 Arrastra y suelta tu archivo aquí</p>
        <small>Limit 200MB por archivo • XLSX</small>
      </div>

     
      <div id="archivo-preview" style="display: none; align-items: center; justify-content: center; gap: 12px; padding: 10px 0;">
        <img src="../static/img/excel.png" alt="Excel" style="width: 26px;">
        <span id="archivo-nombre" style="font-size: 1rem; font-weight: 500; color: #0f0;"></span>
      </div>

      <input type="file" name="archivo" id="archivo" accept=".xlsx" required>
    </label>
  </div>

  <button type="submit" class="submit-btn">Subir archivo</button>
</form>

<form action="{{ url_for('eliminar_repetidos') }}" method="post" style="margin-top: 20px;">
    <button type="submit" class="btn btn-warning">
        Eliminar Repetidos
    </button>
</form>


<script>
  const input = document.getElementById('archivo');
  const preview = document.getElementById('archivo-preview');
  const dropText = document.getElementById('dropzone-text');
  const nombreSpan = document.getElementById('archivo-nombre');

  input.addEventListener('change', () => {
    if (input.files.length > 0) {
      const file = input.files[0];
      nombreSpan.textContent = file.name;
      dropText.style.display = 'none';
      preview.style.display = 'block';
    }
  });
</script>



</body>
</html>
