<head>
    <link rel ="stylesheet" href="../../static/css/especialistas.css">
</head>


<h2>Selecciona el especialista a liquidar</h2>

<label for="especialista">Especialista:</label>
<select name="profesional" id="especialista"class="select-especialista" required>
  {% for prof in profesionales %}
    <option value="{{ prof }}" {% if prof == seleccionadas|first %}selected{% endif %}>{{ prof }}</option>
  {% endfor %}
</select>

<div id="especialidad-container" style="display: none;">
  <label for="especialidad">Especialidad:</label>
  <select name="especialidad" id="especialidad" required></select>
</div>

<div id="parametros-liquidacion">
  <label><input type="checkbox" id="check_anestesia_diff" {% if flags.check_anestesia_diff %}checked{% endif %}> Anestesiología diferencial (60%)</label><br>
  <label><input type="checkbox" id="check_socio" {% if flags.check_socio %}checked{% endif %}> Es socio ortopedista</label><br>
  <label><input type="checkbox" id="check_reconstruc" {% if flags.check_reconstruc %}checked{% endif %}> Cirujano reconstructivo</label><br>
  <label><input type="checkbox" id="check_pie" {% if flags.check_pie %}checked{% endif %}> Cirujano de pie y tobillo</label><br>
</div>

<!--tabla-->
<div id="tabla-especialista"></div>
<div id="total-liquidado-box"></div>
<div id="porcentaje-liquidado-box"></div>




<script>
document.getElementById('tabla-especialista').addEventListener('click', function(e) {
  if (e.target.tagName === 'TD') {
    // Elimina la clase seleccionada de todos los <td>
    const todos = document.querySelectorAll('#tabla-especialista td');
    todos.forEach(td => td.classList.remove('seleccionado'));

    // Agrega la clase al td clickeado
    e.target.classList.add('seleccionado');
  }
});

</script>

<!-- Este script inyecta los datos directamente en el archivo JS -->
<script id="data-especialistas" type="application/json">
  {{ profesionales | tojson | safe }}
</script>




<!-- Cargar script JS externo -->
<script src="{{ url_for('static', filename='js/especialistas.js') }}">
</script>
