<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Liquidador de Honorarios</title>
</head>
<body>
  

{% include "partials/carga.html" %}
{% include "partials/uvr.html" %}





<!-- 
    Subir archivo
    <form action="/upload" method="post" enctype="multipart/form-data">
        <label for="archivo">Subir archivo Excel:</label>
        <input type="file" name="archivo" required>
        <button type="submit">Cargar</button>
    </form>

     <form action="/asignar_uvr" method="post">
        <p>Asignar UVR a códigos manualmente:</p>
        <input type="text" name="codigos[]" placeholder="Código 1">
        <input type="number" name="valor_uvr" placeholder="Valor UVR">
        <button type="submit">Asignar UVR</button>
    </form>

    <!- Unificar especialidades 
    <form action="/unificar_especialidades" method="post">
        <p>Unificar especialidades (ejemplo):</p>
        <input type="text" name="especialidad_GALLEGO DUQUE JORGE ALEJANDRO " value="ANESTESIOLOGIA">
        <button type="submit">Unificar</button>
    </form>

    <! Liquidar 
    <form action="/liquidar" method="post">
        <p>Liquidar profesional:</p>
        <input type="text" name="profesional" placeholder="Nombre profesional">
        <label><input type="checkbox" name="check_socio"> Socio</label>
        <label><input type="checkbox" name="check_pie"> Cirujano Pie</label>
        <label><input type="checkbox" name="check_reconstruc"> Reconstructivo</label>
        <label><input type="checkbox" name="check_anestesia_diff"> Anestesia 60%</label>
        <button type="submit">Liquidar</button>
    </form>

    <p><a href="/descargar">📦 Descargar resultados</a></p> -->

</body>
</html>
